/*
 * Globals
 */
$nav-background: #333;
$a-color: white;
$a-rollover-background: black;
$font-color: black;

/* Links */
a,
a:focus,
a:hover {
  color: $a-color;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: $font-color;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  min-height: 400px;
  padding: 50px 0px;
}


/*
 * Header
 */
.masthead-brand {
  float: left;
}
.nav-bar {
  background: $nav-background;
}
.nav {
  float: none;

}
.masthead-nav{
  text-align: left;
  margin: 10px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: $a-color; /* IE8 proofing */
      border-bottom: 2px solid transparent;
    }
    a:hover,a:focus {
      background-color: $a-rollover-background;
      border-bottom-color: #a9a9a9;
      border-bottom-color: rgba(255,255,255,.25);
    }
  }
  li + li {
    /*padding-left: 20px;*/
  }
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    text-align: left;
  }
  .masthead-nav {
    
  }
}


/*
 * Team Thumbnail
 */
.img-circle {
  width: 144px;
  height: 144px;
}

/*
 * Project title
 */
.cover-heading {
  a {
    color:$font-color;
  }
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    
  }
  .mastfoot {
    
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .container {
    width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .mastfoot,
  .container {
    
  }
}